@model Dept_Web_App.Models.Departments

<div class="container-fluid">
    <form id="departmentForm">
        <fieldset>
            <h3 class="text-white">Department Form</h3>
            <a id="CreateNew" class="btn btn-outline-info btn-sm">
                <i class="fa-solid fa-plus-circle"></i>
                Create New
            </a>
            <br />
            <input type="hidden" name="DId" id="did" />
            <div class="form-group mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" placeholder="Enter department" id="Name" name="Name" />
            </div>
            <button type="button" class="btn btn-success" id="btnSave">Save</button>
        </fieldset>
    </form>
    <br />
    <table class="table table-bordered table-striped table-hover table-light">
        <thead>
            <tr>
                <th>Dept Id</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="departmentListDiv">
        </tbody>
    </table>
</div>


<script>
    $(document).ready(function () {
        LoadDepartmentList();
        var currentRow;
    });
    function LoadDepartmentList() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetDepartmentList","Department")',
            success: function (response) {
                if (response != undefined || response != null) {
                    if (response.isSuccess) {
                        var list = response.data;

                        var row;
                        for (var i = 0; i < list.length; i++) {
                            row += `<tr>
                                <td>${list[i].dId}</td>
                                <td>${list[i].name}</td>
                                <td>
                                        <button type = "button" class="btn btn-info" onclick='Edit(${list[i].dId})'> <i class="fa-solid fa-edit"></i></button> |
                                        <button type = "button" class="btn btn-warning" onclick='Delete(${list[i].dId})'> <i class="fa-solid fa-trash-can"></i></button>
                                </td>

                              </tr>`;
                        }
                        $('#departmentListDiv').html(row);
                    } else {
                        alert('Error');

                    }
                } else {
                    alert('Error');
                }
            },
            error: function (err) { alert(err) }
        });
    }
    $('#btnSave').click(function () {
        var _did = $('#DId').val();
        var _name = $('#Name');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SaveDepartment","Department")',
            data: $('#departmentForm').serialize(),
            success: function (response) {
                if (response != undefined || response != null) {
                    if (response.isSuccess) {

                        var data = response.data;
                        if (_did != '') { //Edit
                            currentRow.find('td:eq(1)').text(data.name);
                            notyf.open({ type: 'success', message: "Record saved Successfully" });
                            $('#departmentForm')[0].reset();
                        } else { //Insert
                            var row = `<tr>
                              <td>${data.dId}</td>
                              <td>${data.name}</td>
                              <td>
                                  <button type = "button" class="btn btn-info" onclick='Edit(${data.dId},this)'> <i class="fa-solid fa-edit"></i></button> |
                                  <button type = "button" class="btn btn-warning" onclick='Delete(${data.dId},this)'> <i class="fa-solid fa-trash-can"></i></button>
                              </td>
                              </tr>`;
                            $('#departmentListDiv').append(row);
                            notyf.open({ type: 'success', message: "Record saved Successfully" });
                            $('#departmentForm')[0].reset();
                        }

                    } else {
                        notyf.open({ type: 'error', message: "Something went wrong" });
                    }
                } else {
                    notyf.open({ type: 'error', message: "Something went wrong" });
                }

            },
            error: function (err) {
                console.log(err.statusText);
                alert(err.statusText);
                notyf.open({ type: 'error', message: err.statusText });
            }
        });
    });

    $('#CreateNew').click(function () {
        $('form:input').val('');
        $('#departmentForm')[0].reset();
    });

    function Edit(id, elememt) {
        currentRow = $(elememt).closest('tr');

        $.ajax({
            type: 'GET',
            url: '@Url.Action("Edit","Department")',
            data: { dId: id },
            success: function (response) {
                if (response != undefined || response != null) {
                    if (response.isSuccess) {
                        $('#DId').val(response.data.dId);
                        $('#Name').val(response.data.dId);
                    }
                    else {
                        notyf.open({ type: 'error', message: "Something went wrong" });
                    }
                }
            },
            error: function (err) {
                console.log(err.statusText);
                alert(err.statusText);
                notyf.open({ type: 'error', message: err.statusText });
            }

        });
    }

    function Delete(id) {
        alert(id);
    }
</script>
